name: Docker Image CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Build the Docker image
              run: docker build ./backend --file ./backend/Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/room-inator-backend:latest
            - name: Push the Docker image
              run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_TOKEN }} && docker push ${{ secrets.DOCKER_USERNAME }}/room-inator-backend:latest
